<%type=["character","text","audio","video","image","program"]%>
<%type_options=[
                [
                ['Unicode', 'Unicode'],
                ['UTF-8', 'UTF-8'],
                ['UTF-16', 'UTF-16'],
                ['UTF-32', 'UTF-32'],
                ['ASCII','ASCII']
                ],
                [
                ['Plain text', 'Plaintext'],
                ['PDF', 'PDF'],
                ['RDF', 'RDF'],
                ['Word', 'Word'],
                ['Latex','Latex'],
                ['Cmd','cmd'],
				['Css','css'],
				['Csv','csv'],
				['Html','html'],
				['Javascript (Obsolete)','javascript (Obsolete)'],
				['Vcard','vcard'],
				['Xml','xml']    
                ],
                [
                ['MPEG-2', 'MPEG-2'],
                ['MPEG-4', 'MPEG-4'],
                ['QuickTime','QuickTime'],
                ['WAV','WAV'],
                ['MP3','MP3'],
                ['WMA','WMA'],
              	['Basic','basic'],
				['L24','L24'],
				['MPEG','mpeg'],
				['OGG','ogg'],
				['Vorbis','vorbis'],
				['Vnd.Rn-Realaudio','vnd.rn-realaudio'],
				['Vnd.Wave','vnd.wave'],
				['Webm','webm']
                ],
                [
                ['MPEG-4', 'MPEG-4'],
                ['AVI', 'AVI'],
                ['FLV','FLV'],
                ['WMV','WMV'],
                ['MOV','MOV'],
                ['Mpeg','mpeg'],
				['Mp4','mp4'],
				['Ogg','ogg'],
				['Quicktime','quicktime'],
				['Webm','webm'],
				['X-Matroska','x-matroska'],
				['X-Ms-Wmv','x-ms-wmv'],
				['X-Flv','x-flv']
                ],
                [
                ['GIF', 'GIF'],
                ['PNG', 'PNG'],
                ['JPEG','JPEG'],
				['PJPEG','pjpeg'],
				['Svg+XML','svg+xml'],
				['TIFF','tiff'],
				['ICO','ICO']
                ],
                [
                ['Atom+Xml','atom+xml'],
				['Ecmascript','ecmascript'],
				['Edi-X12','EDI-X12'],
				['Edifact','EDIFACT'],
				['Json','json'],
				['Javascript','javascript'],
				['Octet-Stream','octet-stream'],
				['Ogg','ogg'],
				['Pdf','pdf'],
				['Postscript','postscript'],
				['Rdf+Xml','rdf+xml'],
				['Rss+Xml','rss+xml'],
				['Soap+Xml','soap+xml'],
				['Font-Woff','font-woff'],
				['Xhtml+Xml','xhtml+xml'],
				['Xml','xml'],
				['Xml-Dtd','xml-dtd'],
				['Xop+Xml','xop+xml'],
				['Zip','zip'],
				['Gzip','gzip']
                ],
                ]%>
<%sources=["Social media", "News", "Digitized objects","Print"]%>
<%type.each_with_index do |type,i|%>
	<%= field_set_tag nil, :class => 'field' do %> 
		<p>
		      <%= check_box_tag type,type,checked[i].nil? ? false : checked[i].to_bool,:class => type+'_submittable' %> 
		      <%=type.slice(0,1).capitalize+type.slice(1..-1)%>
		     <div align="right"><input type="checkbox" class="checkall"> <i>Select all</i></div>
		     <div class="inner_div">
		       <%type_options[i].each_with_index do |type_option, j|%>
		       		 <%= check_box_tag type+"_encoding["+j.to_s+"]",type_options[i][j].first,(!encodings.nil?&&encodings[i].fetch(type).include?(type_options[i][j].first)) ? true : false%>
				 <%=type_options[i][j].first%><br/>
		       <%end%>
		     </div>
		</p>
	<%end%>
<%end%>
<%sources.each_with_index do |source,i|%>
	<%=field_set_tag nil, :class=> 'field' do%>
		<%=check_box_tag source, source, false, :class=>"submittable"%> <%=source%>
	<%end%>
<%end%>
