<div id="spaces">
		<p class="custom_better_div" style="text-align: center;margin-bottom:5px">
			A space is a set of objects along with operations on those objects. Describing digital library spaces constitutes description of the information retrieval and organization tools as well as information about the user-interface.
		</p>
  <%= form_tag('/generate_space', :method=>'post', :multipart => true,:class=>"clearfix") do%>
  <%if sp%>
  <%spaces=sp["spaces"]%>
  <%end%>
    <p>
		<b>Indexer:</b><span class="hint"> Enter information about the indexing tool used. Examples: Apache Solr, Sphinx  </span>
		<%= field_set_tag nil, :class => 'field' do %>
		<p>Name: <%= text_field_tag "indexer_name", sp.nil?||spaces["indexer"].nil? ? "": spaces["indexer"]["name"]%></p><br/>
		<p>Version: <%= text_field_tag "indexer_version", sp.nil?||spaces["indexer"].nil? ? "": spaces["indexer"]["version"]%></p>
		<%end%>
	</p>
	<p>
		<b>Crawler:</b><span class="hint"> Enter information about the crawling tool used. Examples: Heritrix, Nutch </span>
		<%= field_set_tag nil, :class => 'field' do %>
		<p>Name: <%= text_field_tag "crawler_name" , sp.nil?||spaces["crawler"].nil? ? "": spaces["crawler"]["name"]%></p> <br/>
		<p>Version: <%= text_field_tag "crawler_version",sp.nil?||spaces["crawler"].nil? ? "": spaces["crawler"]["version"] %></p>
		<%end%>
	</p>
	<p>
		<b>Content Management System:</b><span class="hint"> Enter information about the content management system used. Example: Drupal </span>
		<%= field_set_tag nil, :class => 'field' do %>
		<p>Name: <%= text_field_tag "cms_name",sp.nil?||spaces["cms"].nil? ? "": spaces["cms"]["name"] %></p> <br/>
		<p>Version: <%= text_field_tag "cms_version",sp.nil?||spaces["cms"].nil? ? "": spaces["cms"]["version"] %></p>
		<%end%>
	</p>
	<p>
		<b>UI Information</b><span class="hint"> Information related to the user interface</span>
		<%= field_set_tag nil, :class => 'field' do %>
	<p>
		<b>UI Presentation language</b><span class="hint"> Select the display language(s) used</span>
				<p>
				<%= select_tag("ui_displang", options_for_select([
			      ['English', 'English'],
			      ['German', 'German'],
			      ['Arabic','Arabic'],
			      ['Hindi','Hindi'],
			      ['Chinese','Chinese']
			      ]),:class=>"type") %>
			      </p>
			</p>
			<%end%>
	</p>
		<p>
			  <%= submit_tag 'Submit',:class=>"custom_better_button righty " %>
		</p>
	
	</div>
<%end%>

