<%admin_levels= { 1=> "Non-Admin", 0=> "Admin" }%>
<h4 style="text-align: center;margin-top: 10px;">Add user to <%=current_project.name%> </h4>
<div class="hint" style="text-align: center;">Include users in the project. Assign roles to users and describe their responsibilities. 
	A user can have many roles</div>
<div class="outer_div">
	<div class="bigger_inner_div">
		<%= form_for @user, :url => {:controller => "users", :action => "create"},:validate=>true do |f| %>
			<p class="fields">
			<%=f.label "User"%>
			<%= collection_select(:user,:id, User.find(:all,:conditions=>['id not in (?)', current_project.users.map(&:id)]), :id, :name,{:prompt=>""} ) if !current_project.nil? && !current_project.users.nil?%>
			<%=hidden_field_tag :project_user, true%>
			</p>
			<div class="field">
				<%=f.fields_for :memberships do |builder|%>
				<%= builder.hidden_field :project_id,:value=>current_project.id%>
				<%= builder.label :level%>
				<%= builder.collection_select(:level,admin_levels, :first, :last)%>
				<%= builder.fields_for :designations do |b|%>
					<%= render 'designation_fields', :f=>b%>
					<%= link_to_add_fields "Add designation",builder,:designations%>
				<%end%>
				<%end%>
			</div>
			<div class="actions">
				<%= f.submit "Add user",:class=>"custom_better_button"%>
			</div>
		<%end%>		
		</div>
	</div>
</div>
