	<%= render 'shared/error_messages', :object => f.object%>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :webpage %>
			<%= f.text_field :webpage %>
		</div>
		<div class="field">
			<%= f.label :number %>
			<%= f.text_field :number %>
		</div>
		<b><u>Change you password:</u></b>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
		</div>