<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv") %> 
  <%= link_to "Printable PDF", users_path(format: "pdf"), :class=>"righty"%>
</p>
<table class="display" id="dynamic_table">
	<thead>
		<tr>
			<th>Name <%=image_tag("flag_green.png",:alt=>"User")%></th>
			<th>Email  <%=image_tag("email.png",:alt=>"email")%> </th>
			<th>Homepage  <%=image_tag("exclamation.png",:alt=>"homepage")%></th>
			<th>Contact number <%=image_tag("date_next.png",:alt=>"contact number")%></th>
			<!--<th></th>=-->
		</tr>
	</thead>
	<tbody>
		<% current_project.users.uniq.each do |user| %>
		<tr>
			
			<td><%= link_to user.name,user %></td>
			<td><%= user.email%></td>
			<td><%= user.homepage%></td>
			<td><%= user.contact %></td>
			<!--<td>
				<%if user.encrypted_password.nil?%>
					    <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %> 
				<%end%> 
			</td>-->
		</tr>
		<% end %>
	</tbody>
</table>
<br/>
