<%content_for :side do%>
<%if !current_project.nil?%>
	<%= render 'users_sidemenu'%>
<%end%>
<%end%>
<%content_for :main do%>
<div class="outer_div">
	<div class="bigger_inner_div clearfix">
		
		<%if current_project && @user.member_of(current_project) && (@user.member_of(current_project)).admin?%>
			You are an administrator on the current project
		<%end%>
		<p>
			<b>Name:</b>
			<%= best_in_place @user, :name %>
		</p>
		<p>
			<b>Email:</b>
			<%= best_in_place @user, :email %>
		</p>
		<p>
			<% if !@user.homepage.nil?%>
			<b>Homepage</b>
			<%= link_to @user.homepage, url_with_protocol(@user.homepage)%>
			<%end%>
		</p>
		<p>
			<% if !@user.contact.nil?%>
			<b>Contact Number:</b>
			<%= best_in_place @user, :contact %>
			<%end%>
		</p>
		<p>
		 <table>
		 	<%if current_project%>
				<%@user.memberships.where(:project_id=>current_project.id).each do |m|%>
					<%m.designations.each do |d|%>
					<%if d.role%>
						<tr><td style="vertical-align:top"><b>Role:</b></td><td><%= d.role%></td></tr>
						<tr><td colspan="2" style="vertical-align:top"><b>Responsibilities</b><br/><%= d.responsibility%></td></tr>
					<%else%>
						      You have not been assigned a role yet. Click on the "Edit" button to add a role.
						<%end%>
					<%end%>
				<%end%>
			<%end%>
		 </table>
		</p>
		<!--Dont display edit button if user does not have permission. Combined current_permission and authorize methods in applicaion_controller-->
		<%if Permission.new(current_membership).allow?("user", "edit",current_user, current_project,params[:id])%>
			<%= link_to 'Edit', edit_user_path(@user),:class=>"custom_better_button round" %> 
		<%end%>
		<%= link_to 'Back', users_path,:class=>"custom_better_button round righty" %>
	</div>
</div>
<%end%> 