<%content_for :side do%>
	<%= render 'projects_sidemenu'%>
<%end%>
<%content_for :main do%> <!--Renders the project_user partial which lists all the project users-->
<div class="outer_div">
	<div class="bigger_inner_div clearfix">
		<p id="notice">
			<%= notice %>
		</p>
		<div>
			<%= button_to "Withdraw from project", { :action => "withdraw", :id => current_user.id },
          :confirm => "Are you sure?", :class=>"custom_better_button righty",:method => :delete %>
		</div>
	
		<%= form_for @project ,:validate=>true do |f| %>
		<p>
			<b><%= image_tag("folder.png",:alt=>"Project")%>&nbsp;Name:</b>
			<%= f.text_field :name %>
		</p>
		<p>
			<b><%= image_tag("folder.png",:alt=>"Project")%>&nbsp;Description:</b>
			<%= f.text_area :description%>
		</p>
		<p>
			<b><%= image_tag("time.png",:alt=>"Project")%>&nbsp;Start date:</b>
			<%= f.text_field :start_at%>
		</p>
		<p>
			<b><%= image_tag("time.png",:alt=>"Project")%>&nbsp;End date:</b>
			<%= f.text_field :end_at%>
		</p>
		<p>
			<b><%= image_tag("money.png",:alt=>"Project")%>&nbsp;Money:</b>
			<%= f.text_field :money %>
		</p>
		<p>
			<b><%= image_tag("house.png",:alt=>"Project")%>&nbsp;Funding agency:</b>
			<%= f.text_field :funding_agency %>
		</p>
		<!--<%= link_to 'Edit', edit_project_path(@project),:class=>"custom_button round righty" %> |-->
		<% if current_user.member_of(current_project) && (current_user.member_of(current_project)).admin?%>
			<%=link_to "Delete Project",@project, confirm: 'Deleting this project will delete all its related information. Are you sure?', method: :delete, :class=>"custom_better_button"%>
		<%end%>
		<%= link_to 'Back', projects_path,:class=>"custom_better_button" %>
		<div class="actions">
			<%= f.submit "Submit",:class=>"custom_better_button righty" %>
		</div>
	    <%end%>		
	</div>
</div>

<%end%> 