<%content_for :side do%>
	<%= render 'phases_sidemenu'%>
<%end%>
<%content_for :main do%> 

	<%if current_project.nil?%>
			<%=empty_display("projects")%>
	<%elsif @phases.empty?%>
		<%=empty_display("phases")%>
	<%else%>
	<h4 class="headings" style="text-align: center;margin-top: 10px;">Timeline of phases</h4>
		<p>
		  Download:
		  <%= link_to "CSV", phases_path(format: "csv") %> 
		  <%= link_to "Printable PDF", phases_path(format: "pdf"), :class=>"righty"%>
		</p>
		<%=render "timeline_exhibit"%>
	<%end%>
<%end%> 